# Dependencies
/vendor/
/node_modules/

# Environment
.env
.env.testing

# IDE
.idea/
.vscode/
*.swp

# System
.DS_Store
Thumbs.db

# Logs
*.log
/storage/logs/*

# Cache
.phpunit.result.cache
/storage/framework/cache/*
/storage/framework/views/*

# Tests
/coverage/

# Public assets
/public/hot
/public/storage
/public/js/
/public/css/app.css
